@CHARSET "UTF-8";
body{color:#333;background:#fff}
.container .content .content-in .gn-section1{margin-top:50px;}
.gn-sec1Left{width:780px; margin-right:20px; height:555px}
.gn-sec1Left .gn-sec1LeftTop{height:330px;}
.gn-sec1LeftTop .gn-newsLeft{width:435px; margin-right:20px;}
.gn-sec1LeftTop .gn-newsList{ width:325px; }
.gn-newsList li{font-size:14px;height:14px; line-height:14px; margin-bottom:16px;; width:325px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.gn-newsList  a{ color:#444}
.gn-newsList  a:hover{color:#666; text-decoration:underline}
.gn-newsList li:last-child{ margin-bottom:0}
.gn-newListWrap p{height:32px; line-height:32px; font-size:14px; color:#758d94}
/*top left*/
.gn-sec1LeftTop .gn-newsLeft{position:relative}
.gn-sec1LeftTop .gn-newsLeft .gn-newsImage{display:block;position:absolute;top:0;left:0;opacity:0; width:435px; height:270px;}
.gn-sec1LeftTop .gn-newsLeft .gn-newsImage img{width:100%;height:100%;display:block}
.gn-sec1LeftTop .gn-newsDesc{height:60px;color:#666;font-size:24px; line-height:60px; margin-top:270px}
.gn-newsTitle{display:inline-block;display:none;height:60px;}
.gn-newsTitle.show{display:inline-block}
.gn-sec1LeftTop .gn-newsDot{ display:inline-block;height:60px; line-height:60px; width:140px}
.gn-newsDot a{display:block; width:12px; height:12px; background:#d4d4d4; float:left; margin-right:20px; margin-top:24px;}
.gn-newsDot a.gn-selected{ background:#34a150}
.gn-newsDot a:last-child{margin-right:0}
.tableBox thead th{border-top:none}
/*section1  leftBottom*/
.gn-sec1Leftbottom{margin-top:20px}
.gn-sec1Leftbottom .gn-notice,.gn-sec1Leftbottom .gn-announcement{width:370px;border-top:1px solid #2dbe60;}
.gn-sec1Leftbottom .gn-notice h3,.gn-sec1Leftbottom .gn-announcement h3{padding-left:5px;font-weight:normal;font-size:14px;height:37px;line-height:37px;}
.gn-sec1Leftbottom .gn-notice h3 span a,.gn-sec1Leftbottom .gn-announcement h3 span a{color:#fff;}
.gn-notice h3:hover,.gn-announcement h3:hover{background-color:#f4f8fb}
.gn-notice h3:hover span a,.gn-announcement h3:hover span a{color:#2dbe60;cursor:pointer}
.gn-sec1Leftbottom .gn-notice{margin-right:40px}
.gn-noticeList li a{color:#444;display:block;}
.gn-noticeList li a:hover{color:#999}
.commonUL .gn-time{width:78px;height:20px; line-height:20px; border-right:1px solid #cacaca; margin-right:8px; display:inline-block;}
.time{color:#888;}
/*top left end*/

/*section2*/
.gn-section2{ margin-top:40px}
.gn-section2 .gn-bar{ position:relative; height:30px; line-height:30px; border-bottom:1px solid #297546; margin-top:20px; margin-bottom:13px}
.gn-bar span{display:block; position:absolute; bottom:-1px; background:#fff; width:260px; text-align:center; left:50%; margin-left:-130px}
.gn-section2 .gn-recSourcesWrap{position:relative}
.gn-hotSour {display:block;width:100%;font-size:20px;color:#888;background:#f4f8fb;text-align:center}
.gn_tabs span{display:inline-block;height:43px;}
.gn_tabs span:nth-of-type(1){margin-right:10px}
.gn_tabs span a{vertical-align:top}
.gn_tabs a:nth-child(1){margin-right:0px}

.gn-sec1Right .gn-goodRecommend {border-bottom:none;}
.gn-sec1Right .gn-titleBar{border-bottom:none}
.gn-sec1Right .gn-title-1{border-bottom:none}
.gn-sec1LeftTop .gn-newsLeft .gn-newsImage.show{display:block}
