@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
  margin:0;padding:0;
}
body {font-size:12px;line-height:1.5;font-family:SimSun,Tahoma,Verdana,Arial,sans-serif;}
h1{font-size:160%;}
h2{font-size:150%;}
h3{font-size:140%;}
h4{font-size:130%;}
h5{font-size:120%;}
h6{font-size:110%;}
article,aside,dialog,figure,footer,header,nav,section{display:block;}
ul,ol,li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
a img{border:0;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration: line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted #000;cursor:help;}
/* tables still need 'cellspacing="0"' in the markup */ 
table {border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select,textarea{vertical-align:middle;border: 1px solid #999;padding: 3px;font-size:12px;}
input[type="radio"], input[type="checkbox"]{border:0;padding:0;}

/* common */
body{font-family:"微软雅黑";color:#7D7F7E;}
a{text-decoration:none;color:#F8A001;}
a:hover{color:#16adfc;}
.disable{background:#ccc !important; cursor:default;}

.fl{float:left;}
.fr{float:right;}
.marginauto{margin:auto;}
.verticalTop *{vertical-align:top;}
.verticalMiddle *{vertical-align:middle;}
.verticalBottom *{vertical-align:bottom;}
.verticalBaseline *{vertical-align:baseline;}
.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:"";display:block;}
.hide{display:none;}
.hidden{position:absolute;top:-1000px;left:-1000px;visibility:hidden;}
.inlineBlock{display:inline-block;}

.w10{width:10px;}
.w20{width:20px;}
.w50{width:50px;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w500{width:500px;}
.w980{width:980px;}
.w1200{width:1200px;}
.wHalf{width:49%;}
.wThird{width:33%;}

/* margin */
.mg10{margin:10px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mr10{display:inline-block;margin-right:10px;}
.mr15{display:inline-block;margin-right:15px;}
.mr20{display:inline-block;margin-right:20px;}
.mr40{display:inline-block;margin-right:40px;}
.mr50{display:inline-block;margin-right:50px;}
.mr100{display:inline-block;margin-right:100px;}
.mt55{display:inline-block;margin-top:55px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
/* padding */
.pd10{padding:10px;}
.pt10{padding-top:10px;}
.pl10 {padding-left:10px;}
.pr10{padding-right:10px;}

.orange{color:#F8A001;}
.green{color:#69C1CD;}
.blue{color:#16ADFC;}
.red{color:#F60661}
.gray,.del{color:#999;}

.errorTip{color:#ba2e0b;font-style:normal;font-size:12px;background:url(../img/common/icon_err.png) no-repeat 0 -24px;padding-left:16px;}

.btn,.okBtn,.cancelBtn{display:inline-block;background-color:#14ADFD;cursor:pointer;text-align:center;/*text-shadow:1px 1px 1px rgba(0,0,0,0.3);*/font-size:14px;line-height:1.6;color:#fff;border:0;border-radius:3px;padding:0 10px;}
.btn:hover,.okBtn:hover,.cancelBtn:hover{color:#fff;}
.btnGreen{background-color:#2CC982;}
.btnOrange{background-color:#F8A001;}
.btnRed{background-color:#F60661;}
.btnGray,.cancelBtn{background-color:#999;}
.btnBig{padding:5px 25px;font-size:16px;}

.input{width:200px;padding:3px;border:1px solid #ccc;}

/* litewin */
.myDialog{background-color:#fff;border-top:1px solid #01A5E4;box-shadow:2px 2px 4px #c3c8cb;}
.dialog_Head{height:37px;line-height:37px;color:#929292;cursor:move;font-size:18px;padding:0 10px;border-bottom:1px solid #f6f6f6;border-top:2px solid #00A6E4;}
.dialog_Body{}
.dialog_Cont{padding:10px;}
#dialogAlert .dialog_Cont,#dialogAlert .dialog_Cont{text-align:center;}
.dialog_Inner{display:inline-block;text-align:left;font-size:18px;color:#647344;}
/*.dialog_Opts{position:absolute;top:10px;right:8px;}
.dialog_Opts a{float:right;width:16px;height:16px;overflow:hidden;font-size:0;line-height:0;cursor:pointer;}
.dialog_Opts .dialog_close{background:url(../img/common/close.png) 0 0 no-repeat;outline:none;}*/
.dialog_Btns{padding-top:10px;text-align:center;}

.dialog_Opts{position:absolute;top:10px;right:20px;}
.dialog_Opts i{float:right;width:20px;height:20px;overflow:hidden;font-size:22px;line-height:1;font-style:normal;cursor:pointer;}
.dialog_Opts .dialog_min{font-size:15px;}
.dialog_Opts .dialog_max{font-family:"Segoe UI Symbol";}
.dialog_Opts .dialog_restore{font-family:"Segoe UI Symbol";display:none;}
.dialog_Opts .dialog_close{font-family:Verdana;}

.converIframe{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;filter:Alpha(Opacity=0);opacity:0;}
.dialog_Cont i{font-style:normal;}
#masker{background-color: rgba(0,0,0,0.5);filter:alpha(opacity=50);}

/* RigheMenu */
#contextMenu{width:100px;border:1px solid #979298;border-bottom:0;background:#F9FEFF;z-index:9999}
#contextMenu li a{display:block;color:#333;padding:0 2px 0 28px;height:24px;line-height:24px;background:#F9FEFF ;border-bottom:1px solid #979298;}
#contextMenu li a:hover{background-color:#EEFFFF;}

/* 评分 */
.starRate{position:relative;display:inline-block;width:100px;height:20px;overflow:hidden;background:#aaa;cursor:pointer;background:url(../img/common/star.png) 0 3px repeat-x;}
.starRateTen,.starRateTenDouble{width:200px;}
.starRate a{position:relative;display:inline-block;height:20px;vertical-align:top;background:#eee;background:url(../img/common/star.png) 0 -22px repeat-x;}
#star0,.star0{width:0;}
#star10 a,.star10{width:10%;}
#star20 a,.star20{width:20%;}
#star30 a,.star30{width:30%;}
#star40 a,.star40{width:40%;}
#star50 a,.star50{width:50%;}
#star60 a,.star60{width:60%;}
#star70 a,.star70{width:70%;}
#star80 a,.star80{width:80%;}
#star90 a,.star90{width:90%;}
#star100 a,.star100{width:100%;}
#star5 a,.star5{width:5%;}
#star15 a,.star15{width:15%;}
#star25 a,.star25{width:25%;}
#star35 a,.star35{width:35%;}
#star45 a,.star45{width:45%;}
#star55 a,.star55{width:55%;}
#star65 a,.star65{width:65%;}
#star75 a,.star75{width:75%;}
#star85 a,.star85{width:85%;}
#star95 a,.star95{width:95%;}

/* SplitPage */
.pageNavi{text-align:center;padding:10px 0;}
.pageNavi a{text-decoration:none;display:inline-block;padding:1px 8px;border:1px solid #cecece;color:#000;margin:0 5px;}
.pageNavi .curr{border:1px solid #14ADFD;background:#14ADFD;color:#fff; cursor:default;}
.pageNavi .nolink{cursor:default;color:#ccc;border-color:#ccc;}
.pageNavi .pageIndex{width:40px;padding:2px;}
.pageNavi .page_go{margin: 0;vertical-align: middle;}
.miniPageNavi a,.miniPageNavi input{display:none;}
.miniPageNavi .page_prev,.miniPageNavi .page_next{display:inline-block}
.totalNum{color:#F60661;font-style:normal;display:inline-block;padding:0 2px;}

/* uploadFile */
.uploadBox{position:relative; display:inline-block; visibility:visible; overflow: hidden; text-align: center;}
.uploadCont object{position:absolute; top:0; left:0; opacity:0.01;}
.infoLabel{display:inline-block;width:250px;height:15px;line-height:15px;overflow:hidden;}
.infoLabel .fileName{display:inline-block;width:160px;height:15px;line-height:15px;overflow:hidden;}
.uploadInfoBox .progressBar{display:inline-block;width:100px;height:8px;line-height:8px;overflow:hidden;background:#ccc;}
.uploadInfoBox .progressRate{display:inline-block;height:8px;background:#42BE22;}

/* --- common ui ---- */
.borderBox{padding:5px;border:1px solid #DBE7E5;}
.deepBgWrap{background:#F5FBFB}
.lightBgWrap{background:#FAFAFA}
.searchWrap li,.commonUL li,.commonWrap li{padding:5px 0;}
.labelText{display:inline-block;min-width:80px;text-align:right;}
.submit{cursor:pointer;}
.totalPageBox{padding:10px 0;}
.sortBox a{display:inline-block;margin-right:5px;padding:0 5px;color:#333;border-radius:2px;}
.sortBox a:hover{font-weight:bold}
.sortBox .selected{background:#67C3CE;color:#fff;}
.newBoxBody{position:absolute;visibility:hidden;}
.addNewBox{padding:5px 0}

.commonUL li{zoom:1;line-height:1.8;word-wrap: break-word;}
.commonUL li:after{content:"";display:block;clear:both;}
.commonUL li label.text{float:left;width:80px;text-align:right;}
.commonUL li .cont{overflow:hidden;display:block;zoom:1;}

.tableBox{width:100%;}
.tableBox th,.tableBox td{border:1px solid #DADADA;padding:5px;word-break:break-all;line-height:1.5;}
.tableBox th{font-size:15px;font-weight:bolder;background:#EAF6F4;color:#58BCCB;}
.tableBox tr:nth-child(2n){background:#FAFAFA}
.tableBox tr:hover{background:#EFF8F7}

.commonList dl{overflow:hidden;zoom:1;padding:5px;border-bottom:1px dotted #ccc;}
.commonList dt{float:left;display:inline;margin-right:10px;}
.commonList dt img{width:150px;height:110px;}
.commonList dd{overflow:hidden;zoom:1;}
.commonList dd h4{font-size:18px;}

/* 可删除项 */
.itemDel{display:inline-block;margin-right:5px;border: 1px dotted #aaa;padding-right:12px;cursor:pointer;background:#fff url(../img/common/redclose.png) no-repeat 100% 50%;}
.itemDel button{height:28px;border:0;background:none;}
.itemDel b{cursor:pointer;color: #f00; display: inline-block;font-family: "Comic Sans MS";}

/*mapTip*/
.map-popTip{display:none;z-index:999999;position:absolute;color: #f00;height: 39px;}
.map-popTip-l{width:20px;height:39px;background: url(../img/map/pop-ui-l.png) no-repeat 0 0;float: left;display: inline-block;}
.map-popTip-m{min-width: 2px;height:39px;background: url(../img/map/pop-ui-m.png) repeat-x 100% 0;float: left;display: inline-block;line-height: 35px;text-indent: -0.5em;}
.map-popTip-r{width: 13px;height:39px;background: url(../img/map/pop-ui-r.png) no-repeat 0 0;float: left;display: inline-block;}